In [1]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "[*********************100%%**********************]  1 of 1 completed\n",
      "[*********************100%%**********************]  1 of 1 completed\n",
      "[*********************100%%**********************]  1 of 1 completed\n",
      "[*********************100%%**********************]  1 of 1 completed\n"
     ]
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'2330.TW':               Open    High     Low   Close    Adj Close    Volume\n",
      "Date                                                             \n",
      "2024-01-02   590.0   593.0   589.0   593.0   587.971313  26059058\n",
      "2024-01-03   584.0   585.0   576.0   578.0   573.098511  37106763\n",
      "2024-01-04   580.0   581.0   577.0   580.0   575.081543  15309129\n",
      "2024-01-05   578.0   580.0   574.0   576.0   571.115479  18158971\n",
      "2024-01-08   582.0   585.0   579.0   583.0   578.056152  17761275\n",
      "...            ...     ...     ...     ...          ...       ...\n",
      "2024-07-01   968.0   977.0   965.0   968.0   968.000000  19935737\n",
      "2024-07-02   967.0   971.0   959.0   960.0   960.000000  25427569\n",
      "2024-07-03   976.0   979.0   967.0   979.0   979.000000  24070411\n",
      "2024-07-04  1000.0  1010.0   997.0  1005.0  1005.000000  41893299\n",
      "2024-07-05  1005.0  1010.0  1000.0  1005.0  1005.000000  19998094\n",
      "\n",
      "[122 rows x 6 columns], '2303.TW':                  Open       High        Low      Close  Adj Close     Volume\n",
      "Date                                                                        \n",
      "2024-01-02  52.500000  52.799999  51.299999  51.900002  49.163513   64217881\n",
      "2024-01-03  51.200001  51.299999  50.500000  50.599998  47.932056   75978300\n",
      "2024-01-04  50.500000  50.900002  50.200001  50.799999  48.121510   56554331\n",
      "2024-01-05  51.599998  52.200001  50.599998  50.799999  48.121510   77391673\n",
      "2024-01-08  51.000000  51.000000  50.099998  50.500000  47.837330   63869803\n",
      "...               ...        ...        ...        ...        ...        ...\n",
      "2024-07-01  55.900002  57.299999  55.900002  56.900002  53.899883  145350617\n",
      "2024-07-02  53.500000  53.500000  51.900002  52.700001  52.700001  237140005\n",
      "2024-07-03  53.099998  53.299999  52.599998  52.700001  52.700001  111388367\n",
      "2024-07-04  53.299999  54.400002  53.200001  54.000000  54.000000  110272226\n",
      "2024-07-05  54.000000  54.099998  53.400002  53.500000  53.500000   55145519\n",
      "\n",
      "[122 rows x 6 columns], '2454.TW':               Open    High     Low   Close    Adj Close    Volume\n",
      "Date                                                             \n",
      "2024-01-02  1010.0  1015.0   980.0   981.0   934.995605  10009034\n",
      "2024-01-03   976.0   977.0   953.0   953.0   908.308716  12547023\n",
      "2024-01-04   940.0   947.0   922.0   928.0   907.917358   8449251\n",
      "2024-01-05   929.0   935.0   921.0   921.0   901.068848   5524580\n",
      "2024-01-08   930.0   936.0   918.0   920.0   900.090454   5553064\n",
      "...            ...     ...     ...     ...          ...       ...\n",
      "2024-07-01  1405.0  1440.0  1405.0  1415.0  1384.378296   5023006\n",
      "2024-07-02  1410.0  1415.0  1390.0  1410.0  1379.486450   5090265\n",
      "2024-07-03  1430.0  1430.0  1390.0  1405.0  1374.594727   6361645\n",
      "2024-07-04  1380.0  1400.0  1375.0  1375.0  1375.000000   7642964\n",
      "2024-07-05  1380.0  1385.0  1335.0  1350.0  1350.000000   6406820\n",
      "\n",
      "[122 rows x 6 columns], '2317.TW':              Open   High    Low  Close   Adj Close     Volume\n",
      "Date                                                         \n",
      "2024-01-02  104.5  105.0  104.0  105.0  102.375000   19921105\n",
      "2024-01-03  104.5  105.0  104.0  104.5  101.887505   18957682\n",
      "2024-01-04  104.5  105.0  104.0  104.0  101.400002   15488559\n",
      "2024-01-05  104.0  104.5  104.0  104.0  101.400002   13349572\n",
      "2024-01-08  103.5  104.0  101.5  101.5   98.962502   34642006\n",
      "...           ...    ...    ...    ...         ...        ...\n",
      "2024-07-01  215.0  217.0  214.5  216.0  210.600006   73503014\n",
      "2024-07-02  212.0  213.0  203.0  204.5  204.500000  142637509\n",
      "2024-07-03  205.0  208.0  203.0  203.0  203.000000   75817371\n",
      "2024-07-04  208.0  215.0  207.5  214.5  214.500000  110905158\n",
      "2024-07-05  214.0  215.5  212.5  214.5  214.500000   43052441\n",
      "\n",
      "[122 rows x 6 columns]}\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<style type=\"text/css\">\n",
       "#T_d5f22 th {\n",
       "  background-color: #613030;\n",
       "  text-align: center;\n",
       "  font-weight: bold;\n",
       "  border: 1px solid black;\n",
       "  padding: 3px;\n",
       "}\n",
       "#T_d5f22_row0_col0, #T_d5f22_row0_col1, #T_d5f22_row0_col2, #T_d5f22_row0_col3, #T_d5f22_row1_col0, #T_d5f22_row1_col1, #T_d5f22_row1_col2, #T_d5f22_row1_col3, #T_d5f22_row2_col0, #T_d5f22_row2_col1, #T_d5f22_row2_col2, #T_d5f22_row2_col3, #T_d5f22_row3_col0, #T_d5f22_row3_col1, #T_d5f22_row3_col2, #T_d5f22_row3_col3, #T_d5f22_row4_col0, #T_d5f22_row4_col1, #T_d5f22_row4_col2, #T_d5f22_row4_col3, #T_d5f22_row5_col0, #T_d5f22_row5_col1, #T_d5f22_row5_col2, #T_d5f22_row5_col3 {\n",
       "  text-align: center;\n",
       "  font-size: 11pt;\n",
       "  border-color: black;\n",
       "  border-style: solid;\n",
       "  border-width: 1px;\n",
       "  padding: 3px;\n",
       "}\n",
       "</style>\n",
       "<table id=\"T_d5f22\">\n",
       "  <thead>\n",
       "    <tr>\n",
       "      <th class=\"blank level0\" >&nbsp;</th>\n",
       "      <th id=\"T_d5f22_level0_col0\" class=\"col_heading level0 col0\" >臺積電</th>\n",
       "      <th id=\"T_d5f22_level0_col1\" class=\"col_heading level0 col1\" >聯電</th>\n",
       "      <th id=\"T_d5f22_level0_col2\" class=\"col_heading level0 col2\" >聯發科</th>\n",
       "      <th id=\"T_d5f22_level0_col3\" class=\"col_heading level0 col3\" >鴻海</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row0\" class=\"row_heading level0 row0\" >平均</th>\n",
       "      <td id=\"T_d5f22_row0_col0\" class=\"data row0 col0\" >771.27</td>\n",
       "      <td id=\"T_d5f22_row0_col1\" class=\"data row0 col1\" >49.33</td>\n",
       "      <td id=\"T_d5f22_row0_col2\" class=\"data row0 col2\" >1107.06</td>\n",
       "      <td id=\"T_d5f22_row0_col3\" class=\"data row0 col3\" >142.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row1\" class=\"row_heading level0 row1\" >中位數</th>\n",
       "      <td id=\"T_d5f22_row1_col0\" class=\"data row1 col0\" >778.17</td>\n",
       "      <td id=\"T_d5f22_row1_col1\" class=\"data row1 col1\" >49.07</td>\n",
       "      <td id=\"T_d5f22_row1_col2\" class=\"data row1 col2\" >1115.33</td>\n",
       "      <td id=\"T_d5f22_row1_col3\" class=\"data row1 col3\" >145.52</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row2\" class=\"row_heading level0 row2\" >最高值</th>\n",
       "      <td id=\"T_d5f22_row2_col0\" class=\"data row2 col0\" >1005.00</td>\n",
       "      <td id=\"T_d5f22_row2_col1\" class=\"data row2 col1\" >54.66</td>\n",
       "      <td id=\"T_d5f22_row2_col2\" class=\"data row2 col2\" >1467.54</td>\n",
       "      <td id=\"T_d5f22_row2_col3\" class=\"data row2 col3\" >214.50</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row3\" class=\"row_heading level0 row3\" >最低值</th>\n",
       "      <td id=\"T_d5f22_row3_col0\" class=\"data row3 col0\" >571.12</td>\n",
       "      <td id=\"T_d5f22_row3_col1\" class=\"data row3 col1\" >45.47</td>\n",
       "      <td id=\"T_d5f22_row3_col2\" class=\"data row3 col2\" >859.98</td>\n",
       "      <td id=\"T_d5f22_row3_col3\" class=\"data row3 col3\" >96.14</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row4\" class=\"row_heading level0 row4\" >最高值日期</th>\n",
       "      <td id=\"T_d5f22_row4_col0\" class=\"data row4 col0\" >2024-07-04</td>\n",
       "      <td id=\"T_d5f22_row4_col1\" class=\"data row4 col1\" >2024-06-21</td>\n",
       "      <td id=\"T_d5f22_row4_col2\" class=\"data row4 col2\" >2024-06-20</td>\n",
       "      <td id=\"T_d5f22_row4_col3\" class=\"data row4 col3\" >2024-07-04</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_d5f22_level0_row5\" class=\"row_heading level0 row5\" >最低值日期</th>\n",
       "      <td id=\"T_d5f22_row5_col0\" class=\"data row5 col0\" >2024-01-05</td>\n",
       "      <td id=\"T_d5f22_row5_col1\" class=\"data row5 col1\" >2024-02-26</td>\n",
       "      <td id=\"T_d5f22_row5_col2\" class=\"data row5 col2\" >2024-01-17</td>\n",
       "      <td id=\"T_d5f22_row5_col3\" class=\"data row5 col3\" >2024-01-17</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n"
      ],
      "text/plain": [
       "<pandas.io.formats.style.Styler at 0x705a7d59f1f0>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "import pandas_datareader.data as pdr\n",
    "import yfinance as yf\n",
    "import pandas as pd\n",
    "from datetime import datetime, date\n",
    "\n",
    "yf.pdr_override()\n",
    "\n",
    "# 獲取股票數據\n",
    "tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']\n",
    "all_data = {ticker: pdr.get_data_yahoo(ticker, start=\"2024-01-01\", end=date.today()) for ticker in tickers}\n",
    "\n",
    "print(all_data)\n",
    "\n",
    "df1 = pd.DataFrame(index=['平均', '中位數', '最高值', '最低值', '最高值日期', '最低值日期'])\n",
    "\n",
    "for column, ticker in zip(['臺積電', '聯電', '聯發科', '鴻海'], tickers):\n",
    "    data = all_data[ticker]['Adj Close']\n",
    "    \n",
    "    df1[column] = [\n",
    "        data.mean(),\n",
    "        data.median(),\n",
    "        data.max(),\n",
    "        data.min(),\n",
    "        data.idxmax(),\n",
    "        data.idxmin()\n",
    "    ]\n",
    "\n",
    "def format_value(value):\n",
    "    if isinstance(value, (int, float)):\n",
    "        return f\"{value:.2f}\"\n",
    "    elif isinstance(value, pd.Timestamp):\n",
    "        return value.strftime('%Y-%m-%d')\n",
    "    return value\n",
    "\n",
    "styled_result = df1.style.format(format_value)\n",
    "\n",
    "# 表格樣式\n",
    "styled_result = styled_result.set_properties(**{\n",
    "    'text-align': 'center',\n",
    "    'font-size': '11pt',\n",
    "    'border-color': 'black',\n",
    "    'border-style': 'solid',\n",
    "    'border-width': '1px',\n",
    "    'padding': '3px'\n",
    "})\n",
    "\n",
    "# 表頭樣式\n",
    "styled_result = styled_result.set_table_styles([{\n",
    "    'selector': 'th',\n",
    "    'props': [('background-color', '#613030'), \n",
    "              ('text-align', 'center'),\n",
    "              ('font-weight', 'bold'),\n",
    "              ('border', '1px solid black'),\n",
    "              ('padding', '3px')]\n",
    "}])\n",
    "\n",
    "# 顯示結果\n",
    "display(styled_result)"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.10.14"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

{'cells': [{'cell_type': 'code',
   'execution_count': 2,
   'metadata': {},
   'outputs': [{'name': 'stderr',
     'output_type': 'stream',
     'text': ['[*********************100%%**********************]  1 of 1 completed\n',
      '[*********************100%%**********************]  1 of 1 completed\n',
      '[*********************100%%**********************]  1 of 1 completed\n',
      '[*********************100%%**********************]  1 of 1 completed\n']},
    {'name': 'stdout',
     'output_type': 'stream',
     'text': ["{'2330.TW':               Open    High     Low   Close    Adj Close    Volume\n",
      'Date                                                             \n',
      '2024-01-02   590.0   593.0   589.0   593.0   587.971313  26059058\n',
      '2024-01-03   584.0   585.0   576.0   578.0   573.098511  37106763\n',
      '2024-01-04   580.0   581.0   577.0   580.0   575.081543  15309129\n',
      '2024-01-05   578.0   580.0   574.0   576.0   571.115479  18158971\n',
      '2024-01-08   582.0   585.0   579.0   583.0   578.056152  17761275\n',
      '...            ...     ...     ...     ...          ...       ...\n',
      '2024-07-01   968.0   977.0   965.0   968.0   968.000000  19935737\n',
      '2024-07-02   967.0   971.0   959.0   960.0   960.000000  25427569\n',
      '2024-07-03   976.0   979.0   967.0   979.0   979.000000  24070411\n',
      '2024-07-04  1000.0  1010.0   997.0  1005.0  1005.000000  41893299\n',
      '2024-07-05  1005.0  1010.0  1000.0  1005.0  1005.000000  19998094\n',
      '\n',
      "[122 rows x 6 columns], '2303.TW':                  Open       High        Low      Close  Adj Close     Volume\n",
      'Date                                                                        \n',
      '2024-01-02  52.500000  52.799999  51.299999  51.900002  49.163513   64217881\n',
      '2024-01-03  51.200001  51.299999  50.500000  50.599998  47.932056   75978300\n',
      '2024-01-04  50.500000  50.900002  50.200001  50.799999  48.121510   56554331\n',
      '2024-01-05  51.599998  52.200001  50.599998  50.799999  48.121510   77391673\n',
      '2024-01-08  51.000000  51.000000  50.099998  50.500000  47.837330   63869803\n',
      '...               ...        ...        ...        ...        ...        ...\n',
      '2024-07-01  55.900002  57.299999  55.900002  56.900002  53.899883  145350617\n',
      '2024-07-02  53.500000  53.500000  51.900002  52.700001  52.700001  237140005\n',
      '2024-07-03  53.099998  53.299999  52.599998  52.700001  52.700001  111388367\n',
      '2024-07-04  53.299999  54.400002  53.200001  54.000000  54.000000  110272226\n',
      '2024-07-05  54.000000  54.099998  53.400002  53.500000  53.500000   55145519\n',
      '\n',
      "[122 rows x 6 columns], '2454.TW':               Open    High     Low   Close    Adj Close    Volume\n",
      'Date                                                             \n',
      '2024-01-02  1010.0  1015.0   980.0   981.0   934.995605  10009034\n',
      '2024-01-03   976.0   977.0   953.0   953.0   908.308716  12547023\n',
      '2024-01-04   940.0   947.0   922.0   928.0   907.917358   8449251\n',
      '2024-01-05   929.0   935.0   921.0   921.0   901.068848   5524580\n',
      '2024-01-08   930.0   936.0   918.0   920.0   900.090454   5553064\n',
      '...            ...     ...     ...     ...          ...       ...\n',
      '2024-07-01  1405.0  1440.0  1405.0  1415.0  1384.378296   5023006\n',
      '2024-07-02  1410.0  1415.0  1390.0  1410.0  1379.486450   5090265\n',
      '2024-07-03  1430.0  1430.0  1390.0  1405.0  1374.594727   6361645\n',
      '2024-07-04  1380.0  1400.0  1375.0  1375.0  1375.000000   7642964\n',
      '2024-07-05  1380.0  1385.0  1335.0  1350.0  1350.000000   6406820\n',
      '\n',
      "[122 rows x 6 columns], '2317.TW':              Open   High    Low  Close   Adj Close     Volume\n",
      'Date                                                         \n',
      '2024-01-02  104.5  105.0  104.0  105.0  102.375000   19921105\n',
      '2024-01-03  104.5  105.0  104.0  104.5  101.887505   18957682\n',
      '2024-01-04  104.5  105.0  104.0  104.0  101.400002   15488559\n',
      '2024-01-05  104.0  104.5  104.0  104.0  101.400002   13349572\n',
      '2024-01-08  103.5  104.0  101.5  101.5   98.962502   34642006\n',
      '...           ...    ...    ...    ...         ...        ...\n',
      '2024-07-01  215.0  217.0  214.5  216.0  210.600006   73503014\n',
      '2024-07-02  212.0  213.0  203.0  204.5  204.500000  142637509\n',
      '2024-07-03  205.0  208.0  203.0  203.0  203.000000   75817371\n',
      '2024-07-04  208.0  215.0  207.5  214.5  214.500000  110905158\n',
      '2024-07-05  214.0  215.5  212.5  214.5  214.500000   43052441\n',
      '\n',
      '[122 rows x 6 columns]}\n']},
    {'data': {'text/html': ['<style type="text/css">\n',
       '#T_d5f22 th {\n',
       '  background-color: #613030;\n',
       '  text-align: center;\n',
       '  font-weight: bold;\n',
       '  border: 1px solid black;\n',
       '  padding: 3px;\n',
       '}\n',
       '#T_d5f22_row0_col0, #T_d5f22_row0_col1, #T_d5f22_row0_col2, #T_d5f22_row0_col3, #T_d5f22_row1_col0, #T_d5f22_row1_col1, #T_d5f22_row1_col2, #T_d5f22_row1_col3, #T_d5f22_row2_col0, #T_d5f22_row2_col1, #T_d5f22_row2_col2, #T_d5f22_row2_col3, #T_d5f22_row3_col0, #T_d5f22_row3_col1, #T_d5f22_row3_col2, #T_d5f22_row3_col3, #T_d5f22_row4_col0, #T_d5f22_row4_col1, #T_d5f22_row4_col2, #T_d5f22_row4_col3, #T_d5f22_row5_col0, #T_d5f22_row5_col1, #T_d5f22_row5_col2, #T_d5f22_row5_col3 {\n',
       '  text-align: center;\n',
       '  font-size: 11pt;\n',
       '  border-color: black;\n',
       '  border-style: solid;\n',
       '  border-width: 1px;\n',
       '  padding: 3px;\n',
       '}\n',
       '</style>\n',
       '<table id="T_d5f22">\n',
       '  <thead>\n',
       '    <tr>\n',
       '      <th class="blank level0" >&nbsp;</th>\n',
       '      <th id="T_d5f22_level0_col0" class="col_heading level0 col0" >臺積電</th>\n',
       '      <th id="T_d5f22_level0_col1" class="col_heading level0 col1" >聯電</th>\n',
       '      <th id="T_d5f22_level0_col2" class="col_heading level0 col2" >聯發科</th>\n',
       '      <th id="T_d5f22_level0_col3" class="col_heading level0 col3" >鴻海</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row0" class="row_heading level0 row0" >平均</th>\n',
       '      <td id="T_d5f22_row0_col0" class="data row0 col0" >771.27</td>\n',
       '      <td id="T_d5f22_row0_col1" class="data row0 col1" >49.33</td>\n',
       '      <td id="T_d5f22_row0_col2" class="data row0 col2" >1107.06</td>\n',
       '      <td id="T_d5f22_row0_col3" class="data row0 col3" >142.48</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row1" class="row_heading level0 row1" >中位數</th>\n',
       '      <td id="T_d5f22_row1_col0" class="data row1 col0" >778.17</td>\n',
       '      <td id="T_d5f22_row1_col1" class="data row1 col1" >49.07</td>\n',
       '      <td id="T_d5f22_row1_col2" class="data row1 col2" >1115.33</td>\n',
       '      <td id="T_d5f22_row1_col3" class="data row1 col3" >145.52</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row2" class="row_heading level0 row2" >最高值</th>\n',
       '      <td id="T_d5f22_row2_col0" class="data row2 col0" >1005.00</td>\n',
       '      <td id="T_d5f22_row2_col1" class="data row2 col1" >54.66</td>\n',
       '      <td id="T_d5f22_row2_col2" class="data row2 col2" >1467.54</td>\n',
       '      <td id="T_d5f22_row2_col3" class="data row2 col3" >214.50</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row3" class="row_heading level0 row3" >最低值</th>\n',
       '      <td id="T_d5f22_row3_col0" class="data row3 col0" >571.12</td>\n',
       '      <td id="T_d5f22_row3_col1" class="data row3 col1" >45.47</td>\n',
       '      <td id="T_d5f22_row3_col2" class="data row3 col2" >859.98</td>\n',
       '      <td id="T_d5f22_row3_col3" class="data row3 col3" >96.14</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row4" class="row_heading level0 row4" >最高值日期</th>\n',
       '      <td id="T_d5f22_row4_col0" class="data row4 col0" >2024-07-04</td>\n',
       '      <td id="T_d5f22_row4_col1" class="data row4 col1" >2024-06-21</td>\n',
       '      <td id="T_d5f22_row4_col2" class="data row4 col2" >2024-06-20</td>\n',
       '      <td id="T_d5f22_row4_col3" class="data row4 col3" >2024-07-04</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th id="T_d5f22_level0_row5" class="row_heading level0 row5" >最低值日期</th>\n',
       '      <td id="T_d5f22_row5_col0" class="data row5 col0" >2024-01-05</td>\n',
       '      <td id="T_d5f22_row5_col1" class="data row5 col1" >2024-02-26</td>\n',
       '      <td id="T_d5f22_row5_col2" class="data row5 col2" >2024-01-17</td>\n',
       '      <td id="T_d5f22_row5_col3" class="data row5 col3" >2024-01-17</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n'],
      'text/plain': ['<pandas.io.formats.style.Styler at 0x705a7d59f1f0>']},
     'metadata': {},
     'output_type': 'display_data'}],
   'source': ['import pandas_datareader.data as pdr\n',
    'import yfinance as yf\n',
    'import pandas as pd\n',
    'from datetime import datetime, date\n',
    '\n',
    'yf.pdr_override()\n',
    '\n',
    '# 獲取股票數據\n',
    "tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']\n",
    'all_data = {ticker: pdr.get_data_yahoo(ticker, start="2024-01-01", end=date.today()) for ticker in tickers}\n',
    '\n',
    'print(all_data)\n',
    '\n',
    "df1 = pd.DataFrame(index=['平均', '中位數', '最高值', '最低值', '最高值日期', '最低值日期'])\n",
    '\n',
    "for column, ticker in zip(['臺積電', '聯電', '聯發科', '鴻海'], tickers):\n",
    "    data = all_data[ticker]['Adj Close']\n",
    '    \n',
    '    df1[column] = [\n',
    '        data.mean(),\n',
    '        data.median(),\n',
    '        data.max(),\n',
    '        data.min(),\n',
    '        data.idxmax(),\n',
    '        data.idxmin()\n',
    '    ]\n',
    '\n',
    'def format_value(value):\n',
    '    if isinstance(value, (int, float)):\n',
    '        return f"{value:.2f}"\n',
    '    elif isinstance(value, pd.Timestamp):\n',
    "        return value.strftime('%Y-%m-%d')\n",
    '    return value\n',
    '\n',
    'styled_result = df1.style.format(format_value)\n',
    '\n',
    '# 表格樣式\n',
    'styled_result = styled_result.set_properties(**{\n',
    "    'text-align': 'center',\n",
    "    'font-size': '11pt',\n",
    "    'border-color': 'black',\n",
    "    'border-style': 'solid',\n",
    "    'border-width': '1px',\n",
    "    'padding': '3px'\n",
    '})\n',
    '\n',
    '# 表頭樣式\n',
    'styled_result = styled_result.set_table_styles([{\n',
    "    'selector': 'th',\n",
    "    'props': [('background-color', '#613030'), \n",
    "              ('text-align', 'center'),\n",
    "              ('font-weight', 'bold'),\n",
    "              ('border', '1px solid black'),\n",
    "              ('padding', '3px')]\n",
    '}])\n',
    '\n',
    '# 顯示結果\n',
    'display(styled_result)']}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.10.14'}},
 'nbformat': 4,
 'nbformat_minor': 2}